<div class="row">
    <div class="col-md-12">
        <h1>Auth0 implementation with Swagger</h1>
        <p>This .Net Core Web app uses Auth0 to indentify users and pass tokens to an Auth0 secured .Net Core Web Api.</p>
    </div>
</div>